In [2]:
import pandas as pd

import pandas_datareader.data as web


web.DataReader("DGS10", "fred")

            DGS10
DATE
2010-01-01    NaN
2010-01-04   3.85
2010-01-05   3.77
2010-01-06   3.85
2010-01-07   3.85
2010-01-08   3.83
2010-01-11   3.85
2010-01-12   3.74
2010-01-13   3.80
2010-01-14   3.76
2010-01-15   3.70
2010-01-18    NaN
2010-01-19   3.73
2010-01-20   3.68
2010-01-21   3.62
2010-01-22   3.62
2010-01-25   3.66
2010-01-26   3.65
2010-01-27   3.66
2010-01-28   3.68
2010-01-29   3.63
2010-02-01   3.68
2010-02-02   3.67
2010-02-03   3.73
2010-02-04   3.62
2010-02-05   3.59
2010-02-08   3.62
2010-02-09   3.67
2010-02-10   3.72
2010-02-11   3.73
...           ...
2017-11-27   2.32
2017-11-28   2.34
2017-11-29   2.37
2017-11-30   2.42
2017-12-01   2.37
2017-12-04   2.37
2017-12-05   2.36
2017-12-06   2.33
2017-12-07   2.37
2017-12-08   2.38
2017-12-11   2.39
2017-12-12   2.40
2017-12-13   2.36
2017-12-14   2.35
2017-12-15   2.35
2017-12-18   2.39
2017-12-19   2.46
2017-12-20   2.49
2017-12-21   2.48
2017-12-22   2.48
2017-12-25    NaN
2017-12-26   2.47
2017-12-27   2.42
2017-12-28   2.43
2017-12-29   2.40
2018-01-01    NaN
2018-01-02   2.46
2018-01-03   2.44
2018-01-04   2.46
2018-01-05   2.47

[2091 rows x 1 columns]

## FRED

- 10Y constant maturity rate: __DGS10__
- 2Y constant maturity rate: __DSG2__
- 5Y constant maturity rate: __DSG5__
- Consumer Price Index for All Urban Consumers: All Items: CPIAUCSL
- 5-Year, 5-Year Forward Inflation Expectation Rate: T5YIFR